body,html{
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
}
/* ESTILOS index.html */
.fondo{
  width: 100%;
  height: 100%;
  background: radial-gradient( pink, purple);
}
.logo{
  width: 30%;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ESTILOS home.html */
.fondo-home{
  background-image: url("../assets/video/giphy.gif");
  background-size: cover;
  background-position: left;
}
.flex-home{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.btn.btn-lg{
  background: transparent;
  border: 1px solid white;
  color: white;
  margin-left: 1em;
}
.btn.btn-primary{
  background: linear-gradient(-90deg,#FF00BF , #A901DB );
}
.botones{
  margin: 10%;
}
.margin-logo{
  margin-top: 7%;
}
