<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyft</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
  </head>
  <body class="fondo fondo-home flex-home">
    <img class="logo margin-logo" src="../assets/img/logo-white.png" alt="logo-lyft">
    <div class="botones">
      <button type="button" id="log-in" class="btn btn-lg">Log in</button>
      <button type="button" id="sign-up" class="btn btn-primary btn-lg">Sign up</button>
    </div>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/home.js"></script>
  </body>
</html>
